In [10]:
#Let's review how we will use our dependencies. We'll use 
#Pandas to read our CSV file and create the locations and 
#measurements from the DataFrame. We'll use gmaps and the 
#API key to create heatmaps and the locations map, and 
#we'll use the requests dependency to make a request to the 
#Google Places JSON file. This will allow us to get hotel 
#locations from the latitude and longitude of the city.


# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [11]:
# Next, we'll read our cities.csv file into a DataFrame. 
# Add the following code and run it to create the DataFrame.

# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Miraflores,MX,2020-10-30 01:38:21,19.22,-98.81,71.01,32,40,13.87
1,1,Tual,ID,2020-10-30 01:38:54,-5.67,132.75,82.87,73,0,9.42
2,2,Busselton,AU,2020-10-30 01:34:22,-33.65,115.33,78.01,30,0,6.02
3,3,Port Elizabeth,ZA,2020-10-30 01:38:54,-33.92,25.57,55.40,82,0,11.41
4,4,Vestmannaeyjar,IS,2020-10-30 01:37:24,63.44,-20.27,45.77,78,100,20.09

In [12]:
#Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [13]:
#First, tell gmaps to use your API key. You only need to 
#configure gmaps to use your API key once.

# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [14]:
#How to create a heatmap
# # 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]
# # 2. Assign the weights variable to some values.
# temperatures = # an array of equal length of the locations array.
# # 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()
# # 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# # 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)
# # 6. Call the figure to plot the data.
# fig

In [15]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [20]:
# Heatmap of temperature - Max Temp
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [25]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Tual,ID,2020-10-30 01:38:54,-5.67,132.75,82.87,73,0,9.42
2,2,Busselton,AU,2020-10-30 01:34:22,-33.65,115.33,78.01,30,0,6.02
10,10,Isangel,VU,2020-10-30 01:34:29,-19.55,169.27,82.40,69,75,11.41
13,13,Faanui,PF,2020-10-30 01:37:13,-16.48,-151.75,80.22,79,0,9.98
14,14,Georgetown,MY,2020-10-30 01:34:35,5.41,100.34,82.40,83,20,5.82
17,17,Cabo San Lucas,MX,2020-10-30 01:38:55,22.89,-109.91,77.00,57,20,12.75
19,19,Kapaa,US,2020-10-30 01:35:21,22.08,-159.32,82.40,58,1,11.41
36,36,Carnarvon,AU,2020-10-30 01:38:56,-24.87,113.63,77.00,69,75,14.99
49,49,Cockburn Town,TC,2020-10-30 01:38:56,21.46,-71.14,82.42,79,36,17.85
54,54,Butaritari,KI,2020-10-30 01:35:41,3.07,172.79,82.04,75,72,11.52

In [26]:
preferred_cities_df.count()

City_ID       152
City          152
Country       152
Date          152
Lat           152
Lng           152
Max Temp      152
Humidity      152
Cloudiness    152
Wind Speed    152
dtype: int64

In [27]:
#6.5.4
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
1             Tual      ID     82.87  -5.67  132.75
2        Busselton      AU     78.01 -33.65  115.33
10         Isangel      VU     82.40 -19.55  169.27
13          Faanui      PF     80.22 -16.48 -151.75
14      Georgetown      MY     82.40   5.41  100.34
17  Cabo San Lucas      MX     77.00  22.89 -109.91
19           Kapaa      US     82.40  22.08 -159.32
36       Carnarvon      AU     77.00 -24.87  113.63
49   Cockburn Town      TC     82.42  21.46  -71.14
54      Butaritari      KI     82.04   3.07  172.79

In [28]:

# For our hotel search, we'll use these parameters:

# API key
# Latitude and longitude
# 5,000-meter radius
# Type of place

# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [38]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [45]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Tual,ID,82.87,-5.67,132.75,Grand Vilia Hotel
2,Busselton,AU,78.01,-33.65,115.33,Observatory Guest House
10,Isangel,VU,82.40,-19.55,169.27,Volcano Sea View Tree House
13,Faanui,PF,80.22,-16.48,-151.75,Bora-Bora Pearl Beach Resort & Spa
14,Georgetown,MY,82.40,5.41,100.34,Cititel Penang
...,...,...,...,...,...,...
555,Cowra,AU,75.00,-33.83,148.68,Cowra Motor Inn
558,Greenville,US,77.00,35.61,-77.37,Holiday Inn Express Greenville
568,Luganville,VU,78.80,-15.53,167.17,The Espiritu Hotel
570,The Valley,AI,84.20,18.22,-63.06,CeBlue Villas & Beach Resort
574,Sokoni,TZ,75.20,-6.43,39.55,Ujamaa Beach Resort

In [39]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
#Let's add the markers for each city on top of the heatmap. 
#Edit the code we used to create the heatmap to look like the following:

# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [43]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))